.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

img {
    max-width: 100%;
    height: auto;
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}
.modal > section {
    width: 90%;
    max-width: 450px;
    margin:0 auto;
    border-radius: .3rem;
    background-color: #fff;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    overflow: hidden;
}
.modal > section > header {
    position: relative;
    padding: 16px 64px 16px 16px;
    background-color: #fff;
    font-weight: 700;
}
.modal > section > header button {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 30px;
    font-size: 27px;
    font-weight: 100;
    text-align: center;
    color: #999;
    background-color: transparent;
}
.modal > section > main {
    padding: 16px 48px 8px 48px;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
}
.modal > section > footer {
    padding: 8px 50px 2px 50px;
    text-align: center;
}
.button1 {
    padding: 1px 0px;
    color: #fff;
    font-size: 16px;
    width: 83%;
    height: 48px;
    flex-grow: 0;
    margin: 0px 0px 0px 0px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #5aa6f8;
}
.button2 {
    padding: 1px 0px;
    color: #616161;
    font-size: 16px;
    width: 83%;
    height: 48px;
    flex-grow: 0;
    margin: 5px 0px 10px 0px;
    object-fit: contain;
    border-radius: 6px;
    background-color: #fff;
}
.modal.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;
}
@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}