

 *:focus { outline:none; }
.menu-item {
    width: 40px;
    height: 40px;
    border: solid 1.5px #c5c5c5;
    background-color: #ffffff;
  }
  .menu-item-wrapper.active {
    background-color: #ffffff;
  }
  .menu-item.active {
    background-color: #5aa6f8;
  }
  .menu-item.inable {
    background-color: #ededed;
  }